@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&family=Roboto:wght@500&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: rgb(38, 0, 255);
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: rgb(9, 255, 0);
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: rgb(255, 0, 255);
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: rgb(217, 255, 0);
  }
}
@media (min-width: 1400) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-primary {
  color: rgb(217, 196, 233);
}

.bg-primary {
  background-color: rgb(217, 196, 233);
}

.bg-primary-light-1 {
  background-color: #ddcaeb;
}

.bg-primary-light-2 {
  background-color: #e1d0ed;
}

.bg-primary-light-3 {
  background-color: #e4d6f0;
}

.bg-primary-light-4 {
  background-color: #e8dcf2;
}

.bg-primary-light-5 {
  background-color: #ece2f4;
}

.bg-primary-light-6 {
  background-color: #f0e7f6;
}

.bg-primary-dark-1 {
  background-color: #c3b0d2;
}

.bg-primary-dark-2 {
  background-color: #ae9dba;
}

.bg-primary-dark-3 {
  background-color: #9889a3;
}

.bg-primary-dark-4 {
  background-color: #82768c;
}

.bg-primary-dark-5 {
  background-color: #6d6275;
}

.bg-primary-dark-6 {
  background-color: #574e5d;
}

.text-secondary {
  color: #1ac888;
}

.text-hover-secondary:hover {
  color: #1ac888;
}

.bg-secondary {
  background-color: #1ac888;
}

.bg-secondary-light-9 {
  background-color: #e8faf3;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-hover-red-light-1:hover {
  color: #e93030;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: rgb(217, 196, 233);
}
.btn-primary:hover {
  background-color: #e5d7f0;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgb(217, 196, 233);
}
.btn-outlined-primary:hover {
  background-color: rgb(217, 196, 233);
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: rgb(217, 196, 233);
  color: white;
}
.btn-complement-primary:hover {
  color: rgb(217, 196, 233);
  background-color: white;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac888;
}
.btn-secondary:hover {
  background-color: #1ddf97;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #1ac888;
}
.btn-outlined-secondary:hover {
  background-color: #1ac888;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #e61919;
}
.btn-outlined-red:hover {
  background-color: #e61919;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e61919;
  color: #a3f5f5;
}
.btn-complement-red:hover {
  color: #e61919;
  background-color: #a3f5f5;
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #e6e619;
}
.btn-outlined-yellow:hover {
  background-color: #e6e619;
}

.navbar .container, .navbar-primary .container, .navbar, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: rgb(217, 196, 233);
}

.badge-red {
  border-radius: 80px;
  background-color: #e61919;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.p-0 {
  padding: 0;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.m-1 {
  margin: 0.75rem;
}

.ml-1 {
  margin-left: 0.75rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.br {
  border-radius: 20px;
}

.display-f {
  display: flex;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}